.welcomeBox {
    border: $border2;
    height: 500px;
    width: 800px;
    position: absolute;
    top: 200px;
    border-radius: 10px;
    background-color: rgba(192, 188, 188, 0.836);

    .bottomBar{
        @include bottom-bar-setup;
    }
}

.welcomeBox.welcomeInact{
        @include inactive;
}


#welcomeMessage {
        color: black;
        height: 50px;
        font-size: 25px;
}

#clickStart {
    top: 100px;
    font-size: 22px;
    font-weight: 600;
}