/* body {
    background-color: rgb(18, 204, 195);
    display: flex;
    justify-content: center;
}
     */
    
    /* Main container styling */
    /* Centering everything on page */
 
 /* This is for the timer */

/* .timer {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.timerBox {
    height: 100px;
    width: 200px;
    background-color: rgba(192, 188, 188, 0.836);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timerWords, .time{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerWords {
    padding-top: 5px;
    font-size: 25px;
    font-weight: 600;
}

.time {
   font-size: 50px;
   font-weight: 600;
   background-color: rgba(187, 127, 17, 0.897);
   color: white;
   height: 60px;
   width: 130px;
   border-radius: 10px;
} */

/* Loads when the webpage starts */

/* .welcomeBox {
    border: 2px solid black;
    height: 500px;
    width: 800px;
    position: absolute;
    top: 200px;
    border-radius: 10px;
    background-color: rgba(192, 188, 188, 0.836);
    }

.welcomeBox.welcomeInact{
        display: none;
        pointer-events: none;
    } */

/* #welcomeMessage, #clickStart, #rulesTitle {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

#welcomeMessage {
    color: black;
    height: 50px;
    font-size: 25px;
} */

    /* Notice to click start */

/* #clickStart {
    top: 100px;
    font-size: 22px;
    font-weight: 600;
} */

    /* Start button sytling */

/* .startButton {
    position: absolute;
    width: 100%;
    top: 200px;
    display: flex;
    justify-content: center;
} */


/* button {
    color: white;
    background-color: rgba(211, 141, 11, 0.897);
    border-radius: 10px;
    border: .5px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .startButton  button{
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    box-shadow: 5px 5px black;
} */

/* .startButton :hover, .rulesButton :hover, .leaderboardButton :hover, .MMButton :hover, .continueButton :hover, .nameSubmitButton :hover {
    background-color: rgba(255, 255, 255, 0.685);
    color: rgba(187, 127, 17, 0.897);
    cursor: pointer;
} */

    /* Bottom nav bar  */

/* .bottomBar {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

/* .welcomeBox .bottomBar{
    display: flex;
    justify-content: center;
} */

.resultsMainContainer .bottomBar{
    display: flex;
    justify-content: center;
}

.rulesBox .bottomBar{
    display: flex;
    justify-content: center;
}

.rulesButton button, .leaderboardButton button, .MMButton button, .continueButton button, .nameSubmitButton button {
    height: 50px;
    width: 100px;
    font-size: 14px;
    box-shadow: 2px 2px black;
}

.MMButton {
    padding-left: 90px;
}

.resultsMainContainer .bottomBar .MMButton{
    padding: 0px;
}

.rulesBox .bottomBar .MMButton{
    padding: 0px;
}


.leaderboardButton, .continueButton {
    padding-right: 90px;
}

button.contButton.active{
    opacity: 100%;
}

button.contButton.inactive{
    opacity: 0%;
    pointer-events: none;
}

    /* Rules page */

.rulesBox {
    border: 2px solid black;
    height: 500px;
    width: 800px;
    position: absolute;
    top: 200px;
    border-radius: 10px;
    background-color: rgba(192, 188, 188, 0.836);
    opacity: 00%;
    pointer-events: none;
    }

.rulesBox.activeInfo{
    opacity: 100%;
    pointer-events: auto;
}

#rulesTitle {
        font-size: 40px;
        font-weight: 600;
        margin-top: -20px;
    }

#rules {
        position: absolute;
        top: 80px;
        left: 20px;
        font-size: 17px;
        font-weight: 600;
    }

#rules p{
       margin: 2px;
    }

        /* end of rules box */
        /* begining of questions box */

.questContainer {
        border: 2px solid black;
        height: 500px;
        width: 800px;
        position: absolute;
        top: 200px;
        border-radius: 10px;
        background-color: rgba(192, 188, 188, 0.836);
        opacity: 00%;
        pointer-events: none;
    }

.questContainer.activeInfo{
    opacity: 100%;
    pointer-events: auto;
}
            

.questCount {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        width: 100%;
        font-size: 37px;
        font-weight: 600;
        pointer-events: none;
    }

.questCount span {
        display: flex;
    }

.questCount span p {
        padding: 0px 3px;
    }
    
    .question {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        pointer-events: none;
    }


    .optionList {
        position: absolute;
        top: 110px;
        height: 300px;
        width: 100%;
    }

    .option {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 1px 1px black;
        padding: 10px 10px;
        margin: 20px 10px;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .option.correct {
        color: green;
        background: rgb(171, 235, 171);
        border-color: rgb(23, 185, 23);
    }

    .option.incorrect{
        color: rgb(51, 4, 4);
        background: rgb(223, 117, 117);
        border-color: red;
    }

    .option.disabled{
        pointer-events: none;
    }

    .option:hover{
        background-color: rgba(187, 127, 17, 0.897);
        color: white;
        opacity: 75%;
    }

        /* End of Quest page */
        /* Begin results page */

.resultsMainContainer {
        border: 2px solid black;
        height: 500px;
        width: 800px;
        position: absolute;
        top: 200px;
        border-radius: 10px;
        background-color: rgba(192, 188, 188, 0.836);
        opacity: 00%;
        pointer-events: none;
    }

.resultsMainContainer.active {
        opacity: 100%;
        pointer-events: auto;
    }

#compMessage {
        width: 100%;
        height: 75px;
        text-align: center;
    }

#compMessage p {
        font-size: 25px;
    }

#compMessage :first-child {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 30px;
    }

#resultsContainer {
        width: 100%;
        height: 275px;
        display: flex;
        justify-content: center;
    }

 #results {
        border: 1px solid black;
        border-radius: 10px;
        width: 400px;
        height: 275px;
        box-shadow: 3px 4px black;
    }

.resultsTotals {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
    }

.resultsTotals span {
        display: flex;
        padding-top: 100px;
    }

.resultsTotals span p {
        padding: 0px 2px;
    }

.resultsMessage {
    position: relative;
    top: 80px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}


    /* .form {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

.nameSubmitButton {
        padding-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
} */

    /* end of Completed quiz page */